@mixin breakpoint($point) {
	@if $point ==lg {
		@media (max-width: 992px) {
			@content;
		}
	}
	@else if $point ==md {
		@media (max-width: 768px) {
			@content;
		}
	}
	@else if $point ==sm {
		@media (max-width: 576px) {
			@content;
		}
	}
	@else if $point ==xs {
		@media (max-width: 359px) {
			@content;
		}
	}
}
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-size: 24px;
	font-family: 'Lobster', cursive;
	line-height: 130%;
	letter-spacing: 5px;
	transition: all 0.5s;
	scroll-behavior: smooth;
	color: white;
}
.box{
	margin: 0 auto;
	width: 90%;
	max-width: 998px;
}
html,
body{
	background: url(../images/background.svg) fixed no-repeat center center/cover;
	height: 100%;
	.wrap{
		background:rgba(128, 128, 128, 0.1);
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}
}
header{
	.header__content {
		margin: 10% 0 5%;
		padding: 25px 0;
		display: flex;
		justify-content: space-evenly;
		align-items: baseline;
		@include breakpoint(lg){
			margin: 5% 0;
		}
		@include breakpoint(sm){
			flex-wrap: wrap;
			margin: 2% 0;
		}
		.header__logo{
			width: 125px;
			animation: logo 9s linear infinite;
			@include breakpoint(sm){
				width: 110px;
				margin-bottom: 10px;
			}
		}
		.header__titel{
			font-size: 70px;
			margin-right: 150px;
			text-shadow: 13px 20px 3px rgb(128 128 128 / 50%);
			animation: atitel 5s linear infinite;
			@include breakpoint(lg){
				font-size: 55px;
			}
			@include breakpoint(md){
				margin-right: 80px;
				font-size: 50px;
			}
			@include breakpoint(sm){
				font-size: 35px;
				margin-right: 0;
			}
		}
	}
	
}
@keyframes logo{
	0%{
		opacity: .5;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: .5;
	}
}
@keyframes atitel{
	0%{
		text-shadow: 13px 20px 3px rgb(128 128 128 / 50%);
	}
	50%{
		text-shadow: 13px 20px 3px transparent;
	}
	100%{
		text-shadow: 13px 20px 3px rgb(128 128 128 / 50%);
	}
}
section{
	flex: 1 1 auto;
	.section__content{
		margin: 5% 50px 15%;
		@include breakpoint(lg){
			margin: 1% 0 7%;
		}
		@include breakpoint(sm){
			margin: 1% 0 5%;
		}
		.content__text{
			li{
				display: flex;
				justify-content: space-between;
				border-bottom: 1px dashed white;
				margin: 20px 0;
				span{
					@include breakpoint(lg){
						font-size: 18px;
						letter-spacing: 3px;
					}
					@include breakpoint(md){
						font-size: 16px;
						letter-spacing: 1px;
					}
					@include breakpoint(xs){
						font-size: 14px;
					}
				}
				.text-span{
					margin-left: 50px;
					@include breakpoint(md){
						width: 125px;
						text-align: right;
						display: flex;
						justify-content: flex-end;
						align-items: flex-end;
						flex-wrap: nowrap;
						margin-left: 0;
					}
				}
			}
		}
	}
}
footer{
	background-color: rgba(128, 128, 128, 0.5);
	.footer__content{
		padding: 25px 0;
		h2{
			text-align: center;
			font-size: 40px;
			margin-bottom: 25px;
			@include breakpoint(lg){
				font-size: 30px;
			}
			@include breakpoint(md){
				font-size: 28px;
			}
			@include breakpoint(sm){
				font-size: 24px;
			}
			@include breakpoint(xs){
				font-size: 20px;
			}
		}
		.content__massengers{
			display: flex;
			justify-content: space-evenly;
			@include breakpoint(xs){
				justify-content: space-between;
			}
			a{
				display: flex;
				flex-flow: column;
				align-items: center;
				animation: messengers 3s linear infinite;
				img{
					@include breakpoint(lg){
						width: 70px;
					}
					@include breakpoint(sm){
						width: 50px;
					}
				}
				span{
					@include breakpoint(sm){
						font-size: 16px;
					}
				}
			}
			.messenger-telegram{
				animation-delay: .5s;
				.text-telegram{
					color: black;
					animation: span 3s linear infinite;
					animation-delay: .5s;
				}
			}
			.messenger-viber{
				animation-delay: 1s;
				.text-viber{
					color: black;
					animation: span 3s linear infinite;
					animation-delay: 1s;
				}
			}
			.messenger-whatsapp{
				animation-delay: 1.5s;
				.text-whatsapp{
					color: black;
					animation: span 3s linear infinite;
					animation-delay: 1.5s;
				}
			}
		}
	}
}
@keyframes messengers{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(0.9);
	}
	100%{
		transform: scale(1);
	}
}
@keyframes span{
	0%{
		color: black;
	}
	50%{
		color: transparent;
	}
	100%{
		color: black;
	}
}